
<div class="images">
  <div class="image">
    <a href="#sherlock"><img class = "img-fluid" src="assets/images/new_sherlock_holmes_by_allegator-d4ll8lp.jpg" alt="Sherlock Holmes" /></a>
  </div>
  <div class="image">
    <a href="#bartlet"><img class = "img-fluid" src="assets/images/8dbf382c77a3c3623bd2686b5feb8596.jpg" alt="Jeb Bartlet" /></a>
  </div>
  <div class="image">
    <a href="#strange"><img class = "img-fluid" src="assets/images/1261143-dr_strange_by_yamao.jpg" alt="Dr. Strange" /></a>
  </div>
  <div class="image">
    <a href="#bartlet"><img class = "img-fluid" src="assets/images/Josiah_Bartlet.jpg" alt="Jeb Bartlet" /></a>
  </div>
  <div class="image">
    <a href="#sherlock"><img class = "img-fluid" src="assets/images/Holmes-Image-Loupe.jpg" alt="Sherlock Holmes" /></a>
  </div>
  <div class="image">
    <a href="#strange"><img class = "img-fluid" src="assets/images/4752591-dr_strange.jpg" alt="Dr. Strange" /></a>
  </div>
</div>
<h3>Prepare to be amazed by these fictional characters</h3>
