<div class="container character">

    <div class="col-md-3">
        <h1>Dr. Strange</h1>
    </div>

    <div class="col-md-9">

        <div class="characterImg" ng-show="!strange.showText">
            <div class="col-md-2">
                <button ng-click="strange.showText = !strange.showText" class="btn btn-primary">Show Text</button>
            </div>
            <div class="col-md-10">
                <img class="img-thumbnail mx-auto" src="assets/images/Doctor_Strange_Vol_4_2_Ross_Variant_Textless.jpg" alt="Dr. Strange" />
            </div>
        </div>

        <div class="characterText" ng-show="strange.showText">
            <div class="col-md-2">
                <button ng-click="strange.showText = !strange.showText" class="btn btn-primary">Show Picture</button>
            </div>
            <div class="col-md-10">
                <p>Dr. Stephen Vincent Strange, also known as Doctor Strange, is a fictional superhero appearing in American comic books published by Marvel Comics. Created by artist Steve Ditko and writer Stan Lee,[1] the character first appeared in Strange
                    Tales #110 (cover-dated July 1963). A former neurosurgeon, Strange serves as the Sorcerer Supreme, the primary protector of Earth against magical and mystical threats. Debuting in the Silver Age of comics, the character has been featured
                    in several comic book series and adapted in a variety of media including video games, an animated television show, and films. Inspired by storytellings of black magic and Chandu the Magician, Strange was created to bring a different
                    kind of character and themes of mysticism to Marvel Comics.</p>

                <p>Doctor Strange was a brilliant but egotistical surgeon. After a car accident destroys his hands and hinders his ability to perform surgery, he searches the globe for a way to repair them and encounters the Ancient One. After becoming one
                    of the old Sorcerer Supreme's students, he becomes a practitioner of both the mystical arts as well as martial arts. Along with knowing many powerful spells, he has a costume with two mystical objects—the Cloak of Levitation and Eye
                    of Agamotto—which give him added powers. Strange is aided along the way by his friend and valet, Wong, and a large assortment of mystical objects. He takes up residence in a mansion called the Sanctum Sanctorum, located in New York
                    City. Later, Strange takes the title of Sorcerer Supreme.</p>

                <p>In 2008, Doctor Strange was ranked 83rd in Wizard's "200 Greatest Comic Book Characters of All Time" list, and in 2012 was ranked 33rd in IGN's list of "The Top 50 Avengers". The character was first portrayed in live-action by Peter Hooten
                    in the 1978 television film Dr. Strange. Benedict Cumberbatch stars as the character in the Marvel Cinematic Universe, first appearing in the role in the 2016 film Doctor Strange.</p>
            </div>

        </div>

    </div>

</div>
